Repository roeinath/Magdad: changes, and which GitLab CI jobs are due for each by the changed paths.
All: django build, django test and cleanup, django test, django deploy, react build, react deploy, bot build, bot test and cleanup, bot test, bot deploy, ide_bot build, ide_bot deploy

Path conditions:
  django build: any of: .gitlab-ci.yml, Dockerfile-web, Dockerfile-react, requirements.txt, web_framework/server_side/*, web_framework/server_side/**/*, web_features/*, web_features/**/*
  django test and cleanup: any of: .gitlab-ci.yml, Dockerfile-web, Dockerfile-react, requirements.txt, web_framework/server_side/*, web_framework/server_side/**/*, web_features/*, web_features/**/*
  django test: any of: .gitlab-ci.yml, Dockerfile-web, Dockerfile-react, requirements.txt, web_framework/server_side/*, web_framework/server_side/**/*, web_features/*, web_features/**/*
  django deploy: any of: .gitlab-ci.yml, Dockerfile-web, Dockerfile-react, requirements.txt, web_framework/server_side/*, web_framework/server_side/**/*, web_features/*, web_features/**/*
  react build: any of: .gitlab-ci.yml, Dockerfile-web, Dockerfile-react, requirements.txt, web_framework/client_side/*, web_framework/client_side/**/*
  react deploy: any of: .gitlab-ci.yml, Dockerfile-web, Dockerfile-react, requirements.txt, web_framework/client_side/*, web_framework/client_side/**/*
  bot build: any of: .gitlab-ci.yml, Dockerfile-bot, requirements.txt, bot_features/*, bot_features/**/*, bot_framework/*, bot_framework/**/*
  bot test and cleanup: any of: .gitlab-ci.yml, Dockerfile-bot, requirements.txt, bot_features/*, bot_features/**/*, bot_framework/*, bot_framework/**/*
  bot test: any of: .gitlab-ci.yml, Dockerfile-bot, requirements.txt, bot_features/*, bot_features/**/*, bot_framework/*, bot_framework/**/*
  bot deploy: any of: .gitlab-ci.yml, Dockerfile-bot, requirements.txt, bot_features/*, bot_features/**/*, bot_framework/*, bot_framework/**/*
  ide_bot build: any of: .gitlab-ci.yml, Dockerfile-ide-bot, requirements.txt, ide_framework/*, ide_framework/**/*
  ide_bot deploy: any of: .gitlab-ci.yml, Dockerfile-ide-bot, requirements.txt, ide_framework/*, ide_framework/**/*

added tech miun after removed
  web_features/tech_miun/assessments/assessments_page.py
  web_features/tech_miun/assessments/behavioral_diagnostician_miun_page.py
  web_features/tech_miun/assessments/estimator_page.py
  web_features/tech_miun/assessments/sagab_miun_page.py
  web_features/tech_miun/constants.py
  web_features/tech_miun/drive_connection.py
  web_features/tech_miun/handle_estimators.py
  web_features/tech_miun/malshab_info.py
  web_features/tech_miun/master_page.py
  web_features/tech_miun/miun_category.py
  web_features/tech_miun/permissions.py
  web_features/tech_miun/report_survey.py
  web_features/tech_miun/status_manager.py
Due: django build, django test and cleanup, django test, django deploy

fixed gitignore and hiding files in vs
  .gitignore
  .vs/Magdad/v17/.suo
  .vs/ProjectSettings.json
  .vs/slnx.sqlite
Due: none

WIP - save to add permissions update
  .gitignore
  APIs/TalpiotAPIs/User/user.py
  web_features/features.py
  web_features/tech_miun/miun_category.py
  web_features/tech_miun_temp/assessments/zoer_dummy_page.py
  web_features/tech_miun_temp/assessments/zoer_page.py
  web_features/tech_miun_temp/cadet_classes/utils.py
Due: django build, django test and cleanup, django test, django deploy

start working page
  APIs/TalpiotAPIs/Role/role.py
  APIs/TalpiotAPIs/User/user.py
  web_features/tech_miun_temp/assessments/zoer_dummy_page.py
  web_features/tech_miun_temp/assessments/zoer_page.py
Due: django build, django test and cleanup, django test, django deploy

added parts
  .gitignore
  APIs/TalpiotAPIs/AssessmentAPI/Database/api/docx_for_docm/opc/parts/__init__.py
  APIs/TalpiotAPIs/AssessmentAPI/Database/api/docx_for_docm/opc/parts/coreprops.py
  APIs/TalpiotAPIs/AssessmentAPI/Database/api/docx_for_docm/oxml/parts/__init__.py
  APIs/TalpiotAPIs/AssessmentAPI/Database/api/docx_for_docm/oxml/parts/coreprops.py
  APIs/TalpiotAPIs/AssessmentAPI/Database/api/docx_for_docm/oxml/parts/document.py
  APIs/TalpiotAPIs/AssessmentAPI/Database/api/docx_for_docm/oxml/parts/numbering.py
  APIs/TalpiotAPIs/AssessmentAPI/Database/api/docx_for_docm/parts/__init__.py
  APIs/TalpiotAPIs/AssessmentAPI/Database/api/docx_for_docm/parts/document.py
  APIs/TalpiotAPIs/AssessmentAPI/Database/api/docx_for_docm/parts/image.py
  APIs/TalpiotAPIs/AssessmentAPI/Database/api/docx_for_docm/parts/numbering.py
  APIs/TalpiotAPIs/AssessmentAPI/Database/api/docx_for_docm/parts/styles.py
Due: none

changed env_setup and run_site to work with python3.7
  env_setup.bat
  run_site.bat
Due: none

imported Pandas added load_data_from_csv_or_excel added self.is_real_data formatted the file
  web_features/tech_miun_temp/cadet_classes/miun_classess.py
Due: django build, django test and cleanup, django test, django deploy

fixed bug with loading page
  .gitignore
  web_framework/client_side/.env
Due: react build, react deploy

fixed running run site
  env_setup.bat
  run_site.bat
Due: none

added run site and setup env to gitignore
  .gitignore
Due: none

fixed bug with loading page
  web_framework/client_side/.env
Due: react build, react deploy

changed env_setup and run_site to work with python3.7
  run_site.bat
Due: none

fixed running run site
  run_site.bat
Due: none

added drive_test_page.py
  env_setup.bat
  run_site.bat
  web_features/tech_miun/miun_category.py
  web_features/tech_miun_temp/assessments/drive_test_page.py
  web_features/tech_miun_temp/cadet_classes/miun_classess.py
  web_features/tech_miun_temp/cadet_classes/utils.py
Due: django build, django test and cleanup, django test, django deploy

added drive integration, reltive path and some bag fixes
  web_features/tech_miun_temp/assessments/drive_test_page.py
  web_features/tech_miun_temp/cadet_classes/miun_classess.py
  web_features/tech_miun_temp/cadet_classes/utils.py
Due: django build, django test and cleanup, django test, django deploy

added temp
  web_features/tech_miun_temp/temp_files/temp.tmp
Due: django build, django test and cleanup, django test, django deploy

added graph page
  requirements.txt
  run_site.bat
  web_features/Elements/elements_category.py
  web_features/Elements/personal_page/cadet_page.py
  web_features/__init__.py
  web_features/tech_miun_temp/Evaluations/MaarihimEvaluations/generelizeGraphs.py
  web_features/tech_miun_temp/Evaluations/MaarihimEvaluations/helper_functions.py
  web_features/tech_miun_temp/Evaluations/MaarihimEvaluations/tests.py
  web_framework/client_side/package-lock.json
  web_framework/client_side/package.json
  web_framework/client_side/src/components/ComponentSelector.js
  web_framework/client_side/src/components/PlotlyFigure.js
  web_framework/server_side/infastructure/constants.py
Due: django build, django test and cleanup, django test, django deploy, react build, react deploy, bot build, bot test and cleanup, bot test, bot deploy, ide_bot build, ide_bot deploy

bug fixes
  web_features/tech_miun_temp/assessments/drive_test_page.py
  web_features/tech_miun_temp/cadet_classes/miun_classess.py
  web_features/tech_miun_temp/cadet_classes/utils.py
Due: django build, django test and cleanup, django test, django deploy

load_data_from_csv_or_excel now works for .xlsx,.xls,.csv
  requirements.txt
  web_features/tech_miun_temp/assessments/drive_test_page.py
  web_features/tech_miun_temp/cadet_classes/miun_classess.py
Due: django build, django test and cleanup, django test, django deploy, react build, react deploy, bot build, bot test and cleanup, bot test, bot deploy, ide_bot build, ide_bot deploy

sprint 1
  APIs/ExternalAPIs/MiunDrive/DriveAPI.log
  APIs/ExternalAPIs/MiunDrive/Metadata
  APIs/ExternalAPIs/MiunDrive/MiunDriveAPI.py
  APIs/ExternalAPIs/MiunDrive/Miun_Data/test-roei/gg
  APIs/ExternalAPIs/MiunDrive/Miun_Data/test-roei/kk.docx
  APIs/ExternalAPIs/MiunDrive/__init__.py
  APIs/ExternalAPIs/MiunDrive/client_secrets.json
  APIs/ExternalAPIs/MiunDrive/credentials.json
  APIs/ExternalAPIs/MiunDrive/settings.yaml
  APIs/TalpiotAPIs/User/user.py
  web_features/tech_miun/miun_category.py
  web_features/tech_miun_temp/assessments/show_data_page.py
  web_features/tech_miun_temp/custom_assessments/custom.json
  web_features/tech_miun_temp/custom_assessments/custom_page.py
  web_features/tech_miun_temp/custom_assessments/utils.py
Due: django build, django test and cleanup, django test, django deploy

תיקון קטן לשליפה של מידע מקובץ
  APIs/ExternalAPIs/MiunDrive/MiunDriveAPI.py
Due: none

הצלחה בדף הצגת מידע
  APIs/ExternalAPIs/MiunDrive/DriveAPI.log
  APIs/ExternalAPIs/MiunDrive/Metadata
  APIs/ExternalAPIs/MiunDrive/credentials.json
  env_setup.bat
  requirements.txt
  run_site.bat
  web_features/tech_miun_temp/assessments/show_data_page.py
Due: django build, django test and cleanup, django test, django deploy, react build, react deploy, bot build, bot test and cleanup, bot test, bot deploy, ide_bot build, ide_bot deploy

הצלחה בדף הצגת מידע
  APIs/ExternalAPIs/MiunDrive/Miun_Data/Hi
  APIs/ExternalAPIs/MiunDrive/Miun_Data/candidate_diagnoser
  APIs/ExternalAPIs/MiunDrive/Miun_Data/pen_and_paper.xlsx
  APIs/ExternalAPIs/MiunDrive/Miun_Data/test.xls
  APIs/ExternalAPIs/MiunDrive/Miun_Data/tzlil
  package.json
Due: none

הצלחה בדף הצגת מידע
  web_features/tech_miun_temp/assessments/show_data_page.py
Due: django build, django test and cleanup, django test, django deploy

הצלחה בדף הצגת מידע
  APIs/ExternalAPIs/MiunDrive/DriveAPI.log
  web_features/tech_miun_temp/assessments/show_data_page.py
Due: django build, django test and cleanup, django test, django deploy

WIP
  APIs/ExternalAPIs/MiunDrive/MiunDriveAPI.py
  web_features/tech_miun/miun_category.py
  web_features/tech_miun_temp/assessments/show_data_page.py
  web_features/tech_miun_temp/custom_assessments/custom.json
  web_features/tech_miun_temp/custom_assessments/utils.py
  web_features/tech_miun_temp/report_creation/create_report_page.py
Due: django build, django test and cleanup, django test, django deploy

change custom
  .gitignore
  web_features/tech_miun_temp/custom_assessments/custom_page.py
Due: django build, django test and cleanup, django test, django deploy

WIP
  web_features/tech_miun_temp/custom_assessments/utils.py
Due: django build, django test and cleanup, django test, django deploy

Added Text Input Component
  web_features/tech_miun/miun_category.py
  web_features/tech_miun_temp/custom_assessments/utils.py
  web_features/tech_miun_temp/custom_components.py
  web_features/tech_miun_temp/wix/wix_page.py
  web_framework/client_side/package-lock.json
  web_framework/client_side/package.json
  web_framework/client_side/src/components/ComponentSelector.js
  web_framework/client_side/src/components/RichTextEditor.js
  web_framework/client_side/src/components/TextInput.js
  web_framework/server_side/infastructure/components/rich_text_editor.py
  web_framework/server_side/infastructure/components/text_input.py
  web_framework/server_side/infastructure/constants.py
Due: django build, django test and cleanup, django test, django deploy, react build, react deploy
